{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "@whoj"
  ],
  "plugins": [
    "eslint-plugin-tsdoc"
  ],
  "rules": {
    "import/order": "off",
    "spaced-comment": "off"
  },
  "overrides": [
    {
      "files": [
        "**/packages/**/*.test.[jt]s?(x)",
        "**/test/**/*.test.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/vue"],
      "rules": {
        "testing-library/await-async-query": "error",
        "testing-library/no-await-sync-query": "error",
        "testing-library/no-debugging-utils": "warn",
        "testing-library/no-dom-import": "off"
      }
    }
  ]
}
